// @font-face {
//   font-family: "SFProDisplay";
//   src: url("./../fonts/SFProDisplay.ttf");
// }

// @font-face {
//   font-family: "SFProDisplay";
//   src: url("./../fonts/SFProDisplay-Bold.ttf");
//   font-weight: bold;
// }

// @font-face {
//   font-family: "SFProDisplay";
//   src: url("./../fonts/SFProDisplay-Light.ttf");
//   font-weight: 300;
// }

// new font
@font-face {
  font-family: "ProphetTrial";
  src: url("./../fonts/Prophet/ProphetTrial-Regular.otf");
}

@font-face {
  font-family: "ProphetTrial";
  src: url("./../fonts/Prophet/ProphetTrial-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "ProphetTrial";
  src: url("./../fonts/Prophet/ProphetTrial-Light.otf");
  font-weight: 300;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: "ProphetTrial", sans-serif;
  line-height: inherit;
  color: #0d0d0d;
}

a {
  text-decoration: none;
  transition: opacity 0.5s;
}

ul {
  list-style: none;
}

h1 {
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.01em;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #505050;
  font-weight: 300;
}

button,
a {
  cursor: pointer;
}
