.success {
  position: relative;
  background: #0d0d0d;
  height: 100%;
  min-height: max-content;
  display: flex;
  align-items: center;

  &__main {
    padding: 0 30px 0 370px;
    min-height: max-content;

    &_heading {
      font-size: 60px;
      font-weight: bold;
      padding-top: 70px;
      line-height: 130%;
      letter-spacing: 0.01em;
      color: #fff;
      padding-bottom: 40px;
      max-width: 800px;

      &--highlighted {
        color: #666666;
      }
    }

    & a {
      padding-top: 72px;
      text-decoration: none;
      transition: opacity 1s ease-out;

      &:hover {
        opacity: 0.7;

        .back {
          transform: translateX(-10px);
        }
      }

      & span {
        padding-left: 28px;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
    }
  }
}

#lottie {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.back {
  transition: transform 1s ease-out;
}
@media screen and (max-width: 1024px) {
  .success {
    &__main {
      padding: 0 80px 0 138px;
    }
  }
}

@media screen and (max-width: 768px) {
  .success {
    &__main {
      &_heading {
        font-size: 50px;
        max-width: 550px;

        & a {
          & span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #lottie {
    width: 40px;
    height: 40px;
  }

  .success {
    &__main {
      padding: 0 25px 0 25px;
    }
  }
}

@media screen and (max-width: 360px) {
  .success {
    &__main {
      &_heading {
        font-size: 25px;
        max-width: 270px;

        & a {
          & span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
