.about {
  padding: 176px 130px 200px 23.5%;

  &__pre-heading {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #505050;
  }

  &__heading {
    padding: 50px 0 70px 0;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.01em;
    font-weight: 400;
  }

  &__content {
    display: flex;

    & p {
      max-width: 425px;
      padding-right: 25px;
      font-size: 18px;
      line-height: 150%;
      color: #505050;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 150px 30px 150px 139px;

    &__heading {
      font-size: 50px;
    }

    &__content {
      & p {
        font-size: 16px;
        padding-right: 50px;
      }
    }
  }
}

@media screen and (max-width: 574px) {
  .about {
    padding: 70px 25px;

    &__pre-heading {
      font-size: 11px;
    }

    &__heading {
      font-size: 25px;
      padding: 20px 0 40px 0;
    }

    &__content {
      flex-direction: column;
      & p {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }
}
