.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: calc(100% - 20px);
  max-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.fancybox-slide > .fancybox-loading {
  border-top-color: #f8b000;
  opacity: 0.7;
}

.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateY(0);
}

//test
.testBox {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 0;
  margin-bottom: 200px;
  transition: all 0.3s;
}

//media

@media (max-width: 992px) {
  body.fancybox-iosfix {
    position: relative;
  }

  .fancybox-slide--iframe .fancybox-content {
    width: 100%;
    height: 100vh !important;
    max-width: 100%;
    max-height: 100vh;
  }

  fancybox-error,
  .fancybox-iframe {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
}

@media (max-width: 768px) {
  body.fancybox-iosfix {
    position: relative;
  }
}
