#barba-wrapper {
  overflow: hidden;
}

.barba-container {
  max-width: 100%;
}

.barba-container:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.is-next-case-loading .barba-container:nth-of-type(2) {
  z-index: 2;
}

.o-section {
  padding-left: 6.25%;
  position: relative;
}

@media (max-width: 720px) {
  .o-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-a6 {
  color: #fff;
  font-size: 60px;
  font-weight: lighter;
  padding-bottom: 100px;
}

.o-section--featured-work {
  color: #fff;
  background-color: #0d0d0d;
}

.c-featured-work__list {
  float: left;
  width: 48.57143%;
  padding-left: 18%;
}

@media (max-width: 1140px) {
  .c-featured-work__list {
    width: 42.85714%;
  }
}

.c-featured-work__list-item {
  //height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-featured-work__content {
  position: relative;
  padding-bottom: 188px;
}

.c-featured-work__content a {
  display: flex;
}

@media (min-width: 1140px) {
  .c-featured-work__content a:hover .c-button__layer {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .c-featured-work__content a:hover .u-b6 {
    opacity: 0;
  }
  .c-featured-work__content a:hover .u-b4,
  .c-featured-work__content a:hover .u-b6 {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.c-featured-work__content .u-a6 {
  padding-top: 188px;
}

.c-featured-work__content .u-b6 {
  display: inline-block;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  will-change: transform, opacity;
}

.c-featured-work__content .u-b4 {
  max-width: 270px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}

.c-featured-work__preview {
  float: right;
  width: 51.42857%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1140px) {
  .c-featured-work__preview {
    width: 57.14286%;
  }
}

.c-featured-work__preview-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  z-index: 9;
}

.c-featured-work__preview-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: background-color;
}

.c-featured-work__preview-inner {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.c-featured-work__preview-image {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding-bottom: 66.66667%;
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c-featured-work__preview-list {
  height: 100vh;
  font-size: 0;
  white-space: nowrap;
  z-index: 2;
  position: relative;
  will-change: transform;
}

.c-featured-work__preview-list--alt {
  height: 90vh;
  position: absolute;
  top: 5vh;
  left: 10%;
  width: 90%;
  z-index: 1;
}

.c-featured-work__preview-list--alt .c-featured-work__preview-list-item {
  height: 90vh;
}

.c-featured-work__preview-list-item {
  width: 200%;
  height: 100vh;
  display: inline-block;
  position: relative;
}

.c-featured-work__preview-list-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.u-clearfix {
  display: block;
}

.u-clearfix:after {
  height: 0;
  clear: both;
  font-size: 0;
  content: "\A";
  display: block;
  visibility: hidden;
}

@media (max-width: 1024px) {
  .o-section {
    padding-left: 0;
  }

  .c-featured-work__list {
    padding-left: 13%;
  }

  .c-featured-work__content .u-a6 {
    padding-top: 324px;
  }

  .c-featured-work__content {
    padding-bottom: 390px;
  }
}

@media (max-width: 768px) {
  .c-featured-work__list {
    padding-left: 19%;
  }

  .c-featured-work__content .u-a6 {
    padding-top: 188px;
  }

  .c-featured-work__content {
    padding-bottom: 230px;
  }
}

@media (max-width: 574px) {
  #barba-wrapper {
    display: none;
  }
}
